<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lff.poison.mapper.SampleToxinInfoMapper">
  <resultMap id="BaseResultMap" type="com.lff.poison.domain.SampleToxinInfo">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="toxin_type" jdbcType="VARCHAR" property="toxinType"/>
    <result column="state" jdbcType="INTEGER" property="state"/>
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT * FROM sample_toxin_info WHERE 1=1
  </select>



</mapper>